At the LILI18 Baltimore F2F it was proposed that we review the existing language of the Caliper 1.1. spec, [Section 6.1](https://github.com/IMSGlobal/caliper-spec/blob/master/caliper-spec.md#61-http-responses) and consider strengthening the requirements by changing best practice SHOULD recommendations to MUST requirements.

> ## <a name="endpoint"></a>6.0 Endpoint

> A Caliper [Endpoint](#endpoint) MUST be capable of receiving Caliper data sent over HTTP by a Caliper [Sensor](#sensor) using the standard POST request method.  The connection MUST be secured with Transport Layer Security (TLS) and a valid TLS certificate provided. The [Endpoint](#endpoint) MUST be capable of accessing standard HTTP request headers and support message authentication that utilizes the HTTP `Authorization` request header "Bearer" authentication scheme as described in [RFC 6750](#rfc6750), [Section 2.1](https://tools.ietf.org/html/rfc6750#section-2).

> ### <a name="httpResponse"></a>6.1 HTTP Responses

> Following receipt of a [Sensor](#sensor) request message the [Endpoint](#endpoint) MUST reply with a response message.  The response will include a three-digit status code indicating whether or not the [Endpoint](#endpoint) was able to understand and satisfy the request as defined by [RFC 7231](#rfc7231).

> * To signal a [Sensor](#sensor) that it has successfully received an emitted [Envelope](#envelope) an [Endpoint](#endpoint) MUST reply with a `2xx` class status code. The [Endpoint](#endpoint) SHOULD use the `200 OK` response but MAY instead choose to send a `201 Created` response (to indicate successful receipt of the message and creation of a new resource) or a `202 Accepted` response (to indicate successful acceptance of the message and queueing for further processing). The body of a successful response SHOULD be empty.
> * If the [Sensor](#sensor) sends a message containing events and or entities without an enclosing [Envelope](#envelope), the [Endpoint](#endpoint) SHOULD reply with a `400 Bad Request` response.
* If the [Sensor](#sensor) sends a malformed Caliper [Envelope](#envelope) (it does not contain `sensor`, `sendTime`, `dataVersion` and `data` properties of the required form), the [Endpoint](#endpoint) SHOULD reply with a `400 Bad Request` response.  Note that the [Endpoint](#endpoint) SHOULD NOT send a `400 Bad Request` response if the [Envelope](#envelope) contains a `dataVersion` value that the [Endpoint](#endpoint) cannot support; in this case, the [Endpoint](#endpoint) SHOULD send a `422 Unprocessable Entity` response instead.
> * If the [Sensor](#sensor) sends a message with a `Content-Type` other than "application/json", the [Endpoint](#endpoint) SHOULD reply with a `415 Unsupported Media Type` response.
> * If the [Sensor](#sensor) sends a message without an `Authorization` request header of the RECOMMENDED form or sends a token credential that the [Endpoint](#endpoint) is unable to either validate or determine has sufficient privileges to submit Caliper data, the [Endpoint](#endpoint) SHOULD reply with a `401 Unauthorized` response.

> The [Endpoint](#endpoint) MAY respond to [Sensor](#sensor) messages with other standard HTTP status codes to indicate result dispositions that vary from the cases described above.  The [Endpoint](#endpoint) MAY also communicate more detailed information about problem states, using the standard method for reporting problem details described in [RFC 7807](#rfc7807).

> Caliper [Endpoint](#endpoint) implementers should bear in mind that some Caliper [Sensor](#sensor) implementations may lack sophisticated error handling.

Endpoint certification could minimally be based on the following requirements:

## <a name="endpoint"></a>6.0 Endpoint

A Caliper [Endpoint](#endpoint) MUST be capable of receiving Caliper data sent over HTTP by a Caliper [Sensor](#sensor) using the standard POST request method.  The connection MUST be secured with Transport Layer Security (TLS) and a valid TLS certificate provided. The [Endpoint](#endpoint) MUST be capable of accessing standard HTTP request headers and support message authentication that utilizes the HTTP `Authorization` request header "Bearer" authentication scheme as described in [RFC 6750](#rfc6750), [Section 2.1](https://tools.ietf.org/html/rfc6750#section-2).

### <a name="httpResponse"></a>6.1 HTTP Responses

Following receipt of a [Sensor](#sensor) request message the [Endpoint](#endpoint) MUST reply with a response message.  The response will include a three-digit status code indicating whether or not the [Endpoint](#endpoint) was able to understand and satisfy the request as defined by [RFC 7231](#rfc7231).

* To signal a [Sensor](#sensor) that it has successfully received an emitted [Envelope](#envelope) an [Endpoint](#endpoint) MUST reply with a `2xx` class status code. The [Endpoint](#endpoint) MUST use the `200 OK` response but MAY instead choose to send a `201 Created` response (to indicate successful receipt of the message and creation of a new resource) or a `202 Accepted` response (to indicate successful acceptance of the message and queueing for further processing). The body of a successful response MUST be empty.
* If the [Sensor](#sensor) sends a message containing events and or entities without an enclosing [Envelope](#envelope), the [Endpoint](#endpoint) MUST reply with a `400 Bad Request` response.
* If the [Sensor](#sensor) sends a malformed Caliper [Envelope](#envelope) (it does not contain `sensor`, `sendTime`, `dataVersion` and `data` properties of the required form), the [Endpoint](#endpoint) MUST reply with a `400 Bad Request` response.  Note that the [Endpoint](#endpoint) MUST NOT send a `400 Bad Request` response if the [Envelope](#envelope) contains a `dataVersion` value that the [Endpoint](#endpoint) cannot support; in this case, the [Endpoint](#endpoint) MUST send a `422 Unprocessable Entity` response instead.
* If the [Sensor](#sensor) sends a message with a `Content-Type` other than "application/json", the [Endpoint](#endpoint) MUST reply with a `415 Unsupported Media Type` response.
* If the [Sensor](#sensor) sends a message without an `Authorization` request header of the RECOMMENDED form or sends a token credential that the [Endpoint](#endpoint) is unable to either validate or determine has sufficient privileges to submit Caliper data, the [Endpoint](#endpoint) MUST reply with a `401 Unauthorized` response.

The [Endpoint](#endpoint) MAY respond to [Sensor](#sensor) messages with other standard HTTP status codes to indicate result dispositions that vary from the cases described above.  The [Endpoint](#endpoint) MAY also communicate more detailed information about problem states, using the standard method for reporting problem details described in [RFC 7807](#rfc7807).

Caliper [Endpoint](#endpoint) implementers should bear in mind that some Caliper [Sensor](#sensor) implementations may lack sophisticated error handling.

It's probably also worth reviewing Unizin's UDP documentation, particularly in regards to its endpoint behavior.

6.1 first bullet -- "MUST do _x_ but MAY do _y_" seems an odd construction. I see no reason to specify any particular successful status code. I also hesitate to say that the response body "MUST" be empty (I see no reason to demand this). I'd stick with "MUST use a 2xx code to indicate successful receipt of the sent Caliper message".

In general, I don't like proscribing any kind of validation in the Endpoint. To my mind, the only thing that an endpoint MUST do is "send back 200 to indicate you've received the message".

I would rephrase these requirements to be something like:

```
An Endpoint MAY send back responses other than 2xx, and if so,
it MUST adhere to these responses for these specific cases (for
other cases, the Endpoint may offer other responses):

- If the message has no enclosing caliper Envelope, send
   back 400 Bad Request.

- If the message's caliper Envelope is malformed (missing
   fields required by the Envelope version), send back
   400 Bad Request.

- If the endpoint cannot support the version of caliper data
   indicated by the Envelope.dataVersion, send
   back 422 Unprocessable Entity.

- If the HTTP request has a content-type other than
   application/json, send back 415 Unsupported Media Type.

- If the Sensor sends an unauthorized request, or the endpoint
  is unable to validate the authorization, or the endpoint cannot
  determine the Sensor has sufficient privilege to send such a
  message, send back 401 Unauthorized.
```

See also https://github.com/IMSGlobal/caliper-central/issues/165 (about flow control)

Capturing notes from a discussion on this topic with @ViktorHaag @karaboldt @mmckell:
To begin with, is there value in certifying endpoints in the first place?
Some assumptions:
- Endpoint implementations will benefit from being able to receive Caliper messages from more than one tool without tool-specific logic or adapters
- Endpoints may or may not be vended products
- Certification means there is a defined set of conventions is documented into a spec, with a mechanism for organizations to demonstrate compliance with the spec

Consensus from the group was there IS value in endpoint certification:
1. It is valuable to have endpoint certification because tools should be able to build Caliper sensors to feed more than one endpoint without variability
2. There is value is documenting standard responses to certain use cases
3. There may be a need for IMS to provide a standalone Caliper Validator utility - this may be something which is already embedded into the IMS certification test suite, so it could be just a matter of extracting it and making it available to implementers
4. There may also be a need to define endpoint behavior in terms of quality of service (i.e. how many messages can I send you in one post)
5. Also there may be a need down the road to support additional transport mechanisms beyond HTTP(s) (i.e. MQQT, JSON Lines, RabbitMQ)

Next steps:

- [ ] @ViktorHaag will create a PR to recast the endpoint requirements into a list of possible use cases with standard responses; review with others on an upcoming call

- [ ] for now, this set of requirements for endpoints should be part of the core Caliper spec







 

PR into spec created with [issue 313](https://github.com/IMSGlobal/caliper-spec/issues/313) and [PR #314](https://github.com/IMSGlobal/caliper-spec/pull/314).